body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}
.container-box {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn-modern {
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
}
.btn-modern-primary {
    background-color: #28a745;
    color: white;
}
.btn-modern-secondary {
    background-color: #007bff;
    color: white;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}
